<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit</a>
    <hr>
  </div>
</div>

<%- include('partials/footer') %>